<h1 class="my-3">Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field my-3 py-2 text-capitalize">
        <%= form.label :name %>
        <%= form.text_field :name, class:"form-control", placeholder:"John"%>
    </div>

    <div class="field my-3 py-2 text-capitalize">
        <%= form.label :phone_no %>
        <%= form.text_field :phone_no, class:"form-control", placeholder:"8197956872"%>
    </div>

    <div class="field my-3 py-2 text-capitalize">
        <%= form.label :address %>
        <%= form.text_field :address, class:"form-control", placeholder:"New York, America - USA"%>
    </div>

    <div class="field my-3 py-2 text-capitalize">
        <%= form.label :email %>
        <%= form.text_field :email, class:"form-control", placeholder:"j.doe@plansource.com"%>
    </div>

    <div class="field my-3 py-2 text-capitalize">
        <%= form.label :password %>
        <%= form.password_field :password, class:"form-control", placeholder:"********"%>
    </div>

    <div class="field my-3 py-2 text-capitalize">
        <%= form.label :password_confirmation  %>
        <%= form.password_field :password_confirmation, class:"form-control", placeholder:"********"%>
    </div>

    <div class="actions">
        <%= form.submit "Sign up" , class:" btn btn-success w-100"%>
    </div>
<% end %>

<%# render "devise/shared/links" %>
