
<% if @all_vehicles.empty? %>
    <div class="no-vehicle-msg">
        <h1>We are sorry to inform you that all our vehicles are currently rented out. We appreciate your interest and encourage you to return later for availability. <br/><br/><br/>Thank you for your understanding.</h1>
    </div>
<% else %>
    <% @all_vehicles.each do |vehicle| %>
        <div class="vehicle-item">
            <div class="vehicle-content">
                <%= image_tag vehicle.img_url , class: 'style-vehicle-img'%>
            <div >
                <h1><%= vehicle.brand %> <%= vehicle.model %> <%= vehicle.year %></h1>
                <h2>Price Per Day : $<%= vehicle.price_per_day%></h2>
            </div>
        </div>
        <div class="button-content">
        <%= button_to "Edit", ciucrv_path , :method => :post, params: { id: vehicle.id }, class:"btn btn-lg btn-success w-100" %>
        <%= button_to "Delete", ciucrv_path , :method => :post, params: { id: vehicle.id }, class:"btn btn-lg btn-danger w-100 my-3" %>
        </div>
</div>
    <% end %>
<% end %>