<%= button_to "Add New Vehicle", admin_new_vehicle_path, method: :get, class:"btn btn-lg btn-success w-100"%>
<br>
<hr>
<h1 class="text-center font-weight-bold">Seach / View All Vehicles</h1>
<%= form_for :search_vehicle, url: admin_search_vehicle_path, data: { turbo: false }  do |form| %>

<div class="row d-flex align-items-end py-2">
    <div class="col-5 my-3">
        <%= form.label :brand %>
        <%= form.text_field :brand, class:"form-control", placeholder:"Porsche"%>
    </div>

    <div class="col-5 my-3">
        <%= form.label :model %>
        <%= form.text_field :model, class:"form-control", placeholder:"GT3 RS"%>
    </div>

    <div class="col-2 my-3 text-center">
        <%= form.submit "Search Vehicle", class:"btn btn-primary"%>
    </div>
</div>
<% end %>


<% if @all_vehicles.empty? %>
    <div class="no-vehicle-msg">
        <h1 class="no-vehicle-msg">VEHICLE DATABASE EMPTY, PLEASE ADD FEW VEHICLES!!!</h1>
        <br><hr><br>
        <h1 class="no-vehicle-msg">YOU CAN CLICK ON THE ADD BUTTON AT THE TOP, TO ADD A NEW VEHICLE</h1>
    </div>
<% else %>
    <% @all_vehicles.each do |vehicle| %>
        <div class="vehicle-item">
            <div class="vehicle-content">
                <%= image_tag vehicle.brand_logo , class: 'style-vehicle-img'%>
                <div>
                    <h1><%= vehicle.brand %> <%= vehicle.model %> <%= vehicle.year %></h1>
                    <h2>Price Per Day : $<%= vehicle.price_per_day%></h2>
                </div>
            </div>
            <div class="button-content">
                <%= button_to "Edit", admin_edit_vehicle_path , :method => :get, params: { id: vehicle.id }, class:"btn btn-lg btn-success w-100" %>
                <%= button_to "Delete", admin_destroy_vehicle_path , :method => :delete, params: { id: vehicle.id }, class:"btn btn-lg btn-danger w-100 my-3" %>
            </div>
        </div>
    <% end %>
    <div class="apple_pagination ">
        <div class="page_info">
            <%= page_entries_info @all_vehicles %>
        </div>
        <%= will_paginate @all_vehicles, :container => false %>
    </div>
<% end %>