<h1 class="my-3">Sign In</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
  
  <div class="my-3 py-2 text-capitalize">
    <%= form.label :email %>
    <%= form.email_field :email, class:"form-control", placeholder:"j.doe@smtg.com"%>
  </div>

  <div class="my-3 py-2 text-capitalize">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control", placeholder:"********"%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= form.check_box :remember_me %>
      <%= form.label :remember_me %>
    </div>
  <% end %>

  <div class="actions my-3">
    <%= form.submit "Sign In", class:"btn btn-success w-100" %>
  </div>
<% end %>

<%# render "devise/shared/links" %>
